/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
# Ignorar todo
*
# Excepciones: no ignorar estas carpetas/archivos
!/target/
!/db/
!/README.md/
!/.gitignore/
