# Ignorar todas las carpetas dentro de /target
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
/target/original-Simplify-Biz-1.2.0.jar/

/pom.xml/
/nb-configuration.xml/
/src/
/dependency-reduced-pom.xml/
